body > footer {
    #social > div {
        display: flex;
        align-items: center;
        gap: 10px;
        margin: 30px auto;
        > a {
            > img {
                width: 30px;
                height: 30px;
            }
        }

        > p {
            color: white;
            font-size: 14px;
        }
    }
}